@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    /*height: 100vh;  faz com que a página ocupe 100% da altura visível da tela no navegador */
    box-sizing: border-box; /* garante que nenhum elemento exceda o tamanho lateral da página */
    background-color: #1B355D;
    color: #F2F2F2;
}
.cabecalho {
    border-bottom: 1px solid #F2F2F2;
}
.cabecalho__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: "Krona One", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F2F2F2;
    text-decoration: none;
    padding: 1.5%;
}
.cabecalho__menu__link:hover {
    background-color: #F2F2F2;
    color: #1B355D;
    transition: background-color 0.5s ease;
}
.cabecalho__menu__link.active {
    background-color: #F2F2F2;
    color: #1B355D;
}
.apresentacao {
    padding: 3.5% 10% 3% 10% ;
    display: flex;
    align-items: center;
    justify-content: space-bet;
}
.apresentacao__conteudo {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}
.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
    text-align: center;
}
.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: center;
}
.titulo-destaque {
    color: #F2D7B6;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.apresentacao__links__link {
    background-color: #1B355D;
    color: #F2F2F2;
    text-align: center;
    width: 378px;
    padding: 21.5px 0;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: background-color 0.5s ease;
}
.apresentacao__links__link:hover {
    background-color: #F2F2F2;
    color: #1B355D;
}
img {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    border-radius: 15px;
    transition: filter 0.5s ease;
}
img:hover {
    filter: brightness(0.7);
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    background-color: #F2F2F2;
    color: #1B355D;
    padding: 24px;
}
.rodape__nome {
    font-size: 20px;
}
.rodape__contatos {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1B355D;
    font-size: 18px;
}
.rodape__contatos__contato {
    font-size: 14px;
}