/* Estilização global */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #112D4E;
    --cor-secundaria: #F2F2F2;
    --cor-terciaria: #80C4E9;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    /*height: 100vh;  faz com que a página ocupe 100% da altura visível da tela no navegador */
    box-sizing: border-box; /* garante que nenhum elemento exceda o tamanho lateral da página */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Estilização da página Início e possíveis sobreposições anteriores */
.cabecalho {
    border-bottom: 1px solid var(--cor-secundaria);
}
.cabecalho__menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 1.5%;
}
.cabecalho__menu__link:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    transition: background-color 0.5s ease;
}
.cabecalho__menu__link.active {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}
.corpo {
    padding: 3.5% 3% 3% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.corpo__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}
.corpo__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    text-align: center;
}
.corpo__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
}
.titulo-destaque {
    color: var(--cor-terciaria);
}
.corpo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.corpo__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.25rem;
}
.corpo__links__link {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    width: 50%;
    padding: 21.5px 0;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transition: background-color 0.5s ease;
}
.corpo__links__link:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}
.imagem__inicio {
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    transition: filter 0.5s ease;
}
.imagem__inicio:hover {
    filter: brightness(0.7);
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-family: var(--fonte-secundaria);
    font-size: 1.375rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 24px;
}
.rodape__nome {
    font-size: 1.375rem;
}
.rodape__contatos {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--cor-primaria);
    font-size: 1.125rem;
}
.rodape__contatos__contato {
    font-size: 0.875rem;
}

/* Estilização da página Sobre Mim e possíveis sobreposições anteriores */
.sobremim-corpo {
    padding: 3.5% 9% 3% 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.sobremim-corpo__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}
.sobremim-corpo__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    text-align: justify;
}
.sobremim-corpo__conteudo__texto.separador {
    border-bottom: 1px solid var(--cor-secundaria);
}
.sobremim-imagem {
    width: 25%;
    border: 1px solid black;
    border-radius: 15px;
    transition: filter 0.5s ease;
}
.sobremim-imagem:hover {
    filter: brightness(0.7);
}

/* Estilização da página Portfólio e possíveis sobreposições anteriores */
.portfolio-corpo {
    padding: 3.5% 10% 3% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
}
.portfolio-corpo__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.portfolio-corpo__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.875rem;
    text-align: center;
}
.portfolio-corpo__conteudo__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
}
.portfolio-corpo__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    text-align: center;
}
.portfolio-corpo__conteudo__lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--cor-secundaria);
}
.portfolio-corpo__conteudo__link {
    display: inline-block;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-align: center;
    width: 150px;
    padding: 2px;
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid var(--cor-secundaria);
    transition: background-color 0.5s ease;
}
.portfolio-corpo__conteudo__link:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

@media (max-width: 1200px){
    .corpo {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .corpo__conteudo {
        width: 95%;
    }
    .sobremim-corpo {
        flex-direction: column;
        gap: 30px;
    }
    .sobremim-imagem {
        width: 40%;
    }
    .corpo__links__link {
        width: 100%;
    }
}